body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  margin: 0;
}

header {
  display: flex;
  padding: 5px;
  color: #efefef;
  background-color: #2d2d2d;
  border: solid 1px #000;
}

header #header-title {
  flex-grow: 1;
  text-align: right;
  color: #777;
  font-size: smaller;
}

main {
  flex: 1;
}

main #display-content {
  padding: 20px;
}

footer #content-footer {
  min-height: 80px;
  background-color: #eee;
  border-top: solid 1px #555;
}

ul.footer{
  text-align: center;
  list-style: none;
}

ul.footer li {
  display: inline-block;
}

ul.footer span {
  font-weight: bold;
  color: brown;
}
